#Directories

.vscode/

#Binary files

#*.exe
/Punteros/*.exe
/Listas/Simples/*.exe
/Listas/Quiz I/*.exe
/Listas/Doblemente Enlazadas/*.exe
/Arboles/*.exe

#Compiled source
/Listas/Simples/*
/Listas/Doblemente Enlazadas/*
/Listas/Quiz I/*